h1, h2, h3, div.panel-body {
  font-size: 6em;
}

.panel-heading h1 {
  font-size: 3em;
}

.list-group .list-group-item .list-group-item-heading {
  font-size: 0.4em;
  margin-top: .2em;
}

.list-group-item-text {
  font-size: .75em;
}

nav li {
  font-size: 4.2em;
  margin-top: .1em;
  margin-bottom: .1em;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url(../images/hacknc.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}